@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application. remove overflow
*/
html,
body {
  height: 100%;
  overflow: hidden;
}
/*
  Typographic tweaks
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;

  --red: #0f0e0e;
  --bgColor: var(--red);

  --basFontSize: 1rem;

  --baseNavSize: 0.64rem;
  --smallFontSize: 0.8rem;
}

[app-theme='light'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: red;
  --heading-color: #818cab;
}

[app-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  height: 100%;
}

h1 {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
}
