@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application. remove overflow
*/
html,
body {
  height: 100%;
  overflow: hidden;
}
/*
  Typographic tweaks
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-primary: #302ae6;
  --color-secondary: #536390;
  --color-font: #424242;
  --color-bg: #fff;
  --color-heading: #292922;
  --font-base: 1rem;
  --nav-base: 0.64rem;
  --font-small: 0.8rem;
  --margin-base: 5em;
}

[app-theme='light'] {
  --color-primary: #302ae6;
  --color-secondary: #536390;
  --color-font: black;
  --color-bg: white;
  --color-heading: #292922;
}

[app-theme='dark'] {
  --color-primary: #302ae6;
  --color-secondary: #536390;
  --color-font: white;
  --color-bg: black;
  --color-heading: #292922;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--color-font);
  margin: 0;
  height: 100%;
}
